{% extends 'Front/layout.html.twig' %}
{% block title %} Token expiré {% endblock %}

{% block header %}
    {% include ('Front/Includes/header-main_inc.html.twig') %}
{% endblock %}
{% block body %}
    <main class="content_register">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="register_success_title">Lien de réinitialisation expiré!</h1>
                    <p class="text_register_success">
                        Le lien de réinitialisation s'expire après une heure, veuillez refaire une demande
                    </p>
                    <a href="{{path('home_project')}}" class="link_forget_password">
                        Retour à l'accueil
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {% include ('Front/Includes/footer-main_inc.html.twig') %}
    {% include ('Front/Includes/footer-copyright_inc.html.twig') %}
{% endblock %}
