<ul class="menu-profile">
    <li class="liste-menu-profile">
        <a href="{{ path('account_profile') }}" class="link-menu-profile">Mon Profil</a>
    </li>
    <li class="liste-menu-profile">
        <a href="{{ path('edit_profile') }}" class="link-menu-profile">Editer profil</a>
    </li>
    <li class="liste-menu-profile">
        <a href="{{ path('edit_profile_password') }}" class="link-menu-profile">Modification mot de passe</a>
    </li>
</ul>
