{% extends 'Front/layout.html.twig' %}
{% block title %} Réinitialiation mot de passe {% endblock %}

{% block header %}
    {% include ('Front/Includes/header-main_inc.html.twig') %}
{% endblock %}
{% block body %}
    <main class="content_forget_password">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="forget_title">Email envoyé!</h1>
                    <p class="text_forget_password">Vous avez reçu un message sur votre boîte mail contenant un lien pour réinitialiser votre mot de passe.</p>
                    <a href="{{path('password_forget')}}" class="link_forget_password">
                        Renvoyer un email
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {% include ('Front/Includes/footer-main_inc.html.twig') %}
    {% include ('Front/Includes/footer-copyright_inc.html.twig') %}
{% endblock %}
